*{
    margin: 0;
    padding: 0;
}


body{
    background-image: url(imagenes/fondohead.jpg);
    width: 100%;
}

header 
{
    height: 150px;
    width: auto;
    
}
.logo {
    height: 72px;
    width: 240px;
    margin: 0% auto ;
    margin-bottom: 0%;
    display:block;
    padding: 0px;
    padding-top: 40px;
}
.logo :hover{
    transition: all 0.5s;
    transform: scale(1.2,1.2);
    border-radius: 15px;
}
nav{
    height: 50px;
    width: 100%;
    background-color: rgba(67, 65, 65, 0.604);
}
p{

    text-decoration: none;
    text-align: center;
}
#cajaFlex{
    height: 50px;
    width: 100%;
    margin: 0;
    border: unset;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
div a p{
    color: burlywood;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin-top: 12px;
    text-transform: uppercase
}

#menu1{ 
    height: 100%;
    width: 260px;
    text-decoration: none;
    background-color: rgba(67, 65, 65, 0.604);
    color: rgb(179, 179, 179);
    align-content: center;
    font-size: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#menu1:hover{
    transition: all 0.5s;
    transform: scale(1.2,1.2);
    border-radius: 15px;
    color: rgb(209, 28, 28);
    background-color: rgb(53, 46, 46);
    
}
main{
    background-image: url(imagenes/CLAROPLUMA.jpg);
    background-position:top;
    background-size: cover;
    height: 100px;
    width: 100%;
    display: flex;
    list-style-type: none;
}
.div{
            background-color: rgba(255, 255, 255, 0.631);
            height: 500px;
            width: 800px;
            padding: 0;
            margin-top: 50px;
            margin-left: 20%;
            font-family: 'Poppins', sans-serif;
}
fieldset{
            height: 500px;
            width: 800px;
                 
}
form{
    padding-left: 20px;
}
    h2{
            text-align: center;
            padding: 20px;
}
    .cajatexto{
            text-align: center;
            align-items: center;
}
    .botones input{
            align-content: center;
            height: 4S0px;
            width: 80px;
            border-radius: 15px;
}

    .main{
            height: 1500px;
            overflow: hidden;
            color: rgb(0, 0, 0);
            font-family: 'Poppins', sans-serif;
            font-weight: bold;

}

footer
    .pie{
            background-color: rgb(67, 65, 65);
            width: 100%;
            height: 100px;
            font-family: 'Poppins', sans-serif;
            font-style: italic;
            color: burlywood;


}
    #redes{
        width: 50px;
        margin-right: 0;
        position: fixed;
        bottom: 0;
        right: 0;
        padding-bottom: 200px;
        }
