*{
    margin: 0;
    padding: 0;
}



.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 0;
    align-items: center;
}
.navbar-brand:hover{
    transition: all 0.3s;
    transform: scale(1.1,1.1);
}
main{
        
    background-image: url(imagenes/COLORPLUMA.jpg);
    background-size: cover;
}
main div{
    margin-top: 10rem;
}
.main{  
    
    height: 1000px;
    overflow: hidden;
    color: rgb(0, 0, 0);
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    padding-top: 50px;
    
}
main   div h2{
 color: burlywood;
}
.caja1{
    margin: 10px 280px 10px ;
    overflow: hidden;
    background-color: rgb(148 97 65);
    height: 600px;
    width: 850px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: large;
    font-weight: bold;
    color: rgb(255, 255, 255);
    border-radius: 15px;
    box-shadow:  -12px 12px 1px rgba(67, 65, 65, 0.618);

}


.pie{
    display: grid;
    grid-template-columns: repeat(3,33%);
    grid-template-areas: "c1 c2 c3";
    align-items: center;
    text-align: center;
    background-color:#212529;
    width: 100%;
    height: 220px;
    font-family: 'Poppins', sans-serif;
    color: rgb(255, 255, 255);
    justify-content: space-around;
    padding-left: 0px;
    font-size: 1rem;
   
}
footer h5 {
    font-size:0.9rem;
    margin-top: 15px;
}

footer ul.menuFooter{
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area:c2;
    color: rgb(255, 255, 255);
    text-align: center;
    
}
.nav-item{
    color: rgb(255, 255, 255);
    
    list-style: none;
    
}
.nav-link{
    color: rgb(255, 255, 255);
}
.nav-link:hover{
    color: rgb(206, 185, 185);
    transition: all 0.3s;
    transform: scale(1.1,1.1);
}
.redes{
    align-items: center;
    grid-area:c3;
    width:100%;
    display: flex;
    justify-content: space-between ;
    padding-left: 20%;
    padding-right: 20%; 
}
.logoHover :hover{
    transition: all 0.3s;
    transform: scale(1.05,1.05);
}
/*xs-sm*/
@media only screen and (max-width:600px)
{
   main{
       height: 1500px;
       width: 100%;
       padding: 20px;
       box-shadow:  -12px 12px 1px rgba(67, 65, 65, 0.618);
   }
  .caja1{
      width:100%;
      height: 800px;
      margin: 0;
      font-size: small;
      
  } 
    .pie{
        display: grid;
        grid-template-columns: repeat(2,50%);
        grid-template-rows: repeat(2,50%);
        grid-template-areas: "c1 c2"
                            "c3 c3";
        align-items: center;
        text-align: center;
        background-color:#212529;
        width: 100%;
        height: 300px;
        font-family: 'Poppins', sans-serif;
        color: rgb(255, 255, 255);
        
        font-size: 1rem;
       
    }
    footer h5 {
        font-size:0.6rem;
        
    }
    
    footer ul.menuFooter{
        display: flex;
        align-items: center;
        justify-content: center;
        grid-area:c2;
        color: rgb(255, 255, 255);
        text-align: center;
    }
#redes{
    width: 500px;
    padding: 15px;
    position: fixed;
    right: 20px;
    grid-area: c3;
}
.logoHover{
    height:auto;
    width: 100%;
}
.list-style{
    height:auto;
    width: 100%;
}
li.nav-item{
    height: 30px;
    width: 100%;
}
.logoHover :hover{
    transition: all 0.3s;
    transform: scale(1.05,1.05);
}

}

