*{
    margin: 0;
    padding: 0;
}



.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 0;
    align-items: center;
}
.navbar-brand:hover{
    transition: all 0.3s;
    transform: scale(1.1,1.1);
}
main{
    background-image: url(imagenes/OSCURAPLUMA.jpg);
    background-size: cover;
    height: 2000px;
    display: grid;
    grid-template-areas: "caja1"
                            "caja2"
                            "caja3 "
                            "caja4"  ;
                      
    
    row-gap: 30px;
    padding: 20px;
}
.grilla{
    height: auto;
    color: rgb(46, 45, 45);
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: bold;
    
    
}
div h3 a{
    color: rgb(255, 255, 255);
    text-align: center;
    grid-area: t1;
    height: 100%;
    width: 100%;
    justify-content: center;
}

    
.texto{
    grid-area: 3  ;
    text-align: center;
    padding-top: 20px;

}

#caja1{
    height: 400px;
    width:100%;
    grid-area: "caja1";
    text-align: center;
    border-radius: 15px;
    position: relative;
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.398);   
    overflow: unset;
    align-self: center;
    box-shadow:  -12px 12px 1px rgba(67, 65, 65, 0.618);
    grid-template-rows: 10% 30% 60%;
    
}
#caja2{ 
    height: 400px;
    width: 90%;
    grid-area: "caja2";
    text-align: center;
    border-radius: 15px;
    position: relative;
    background-color: rgba(255, 255, 255, 0.398);  
    overflow: unset;
    align-self: center;
    box-shadow:  -12px 12px 1px rgba(67, 65, 65, 0.618);
    margin-left: 10%;

}


.pie{
    display: grid;
    grid-template-columns: repeat(3,33%);
    grid-template-areas: "c1 c2 c3";
    align-items: center;
    text-align: center;
    background-color:#212529;
    width: 100%;
    height: 220px;
    font-family: 'Poppins', sans-serif;
    color: rgb(255, 255, 255);
    justify-content: space-around;
    padding-left: 0px;
    font-size: 1rem;
   
}
footer h5 {
    font-size:0.9rem;
    margin-top: 15px;
}

footer ul.menuFooter{
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area:c2;
    color: rgb(255, 255, 255);
    text-align: center;
    
}
.nav-item{
    color: rgb(255, 255, 255);
    
    list-style: none;
    
}
.nav-link{
    color: rgb(255, 255, 255);
}
.nav-link:hover{
    color: rgb(206, 185, 185);
    transition: all 0.3s;
    transform: scale(1.1,1.1);
}
.redes{
    align-items: center;
    grid-area:c3;
    width:100%;
    display: flex;
    justify-content: space-between ;
    padding-left: 20%;
    padding-right: 20%; 
}
.logoHover :hover{
    transition: all 0.3s;
    transform: scale(1.05,1.05);
}
/*xs-sm*/
@media only screen and (max-width:600px)
{
    #caja1{
        height: 500px;
        width:100%;
        grid-area: "caja1";
        text-align: center;
        border-radius: 15px;
        position: relative;
        display: inline-block;
        background-color: rgba(255, 255, 255, 0.398);   
        overflow: unset;
        align-self: center;
        box-shadow:  -12px 12px 1px rgba(67, 65, 65, 0.618);
        
        
    }
    #caja2{ 
        height: 700px;
        width: 90%;
        grid-area: "caja2";
        text-align: center;
        border-radius: 15px;
        position: relative;
        background-color: rgba(255, 255, 255, 0.398);  
        overflow: unset;
        align-self: center;
        box-shadow:  -12px 12px 1px rgba(67, 65, 65, 0.618);
        margin-left: 10%;
    
    }


    .pie{
        display: grid;
        grid-template-columns: repeat(2,50%);
        grid-template-rows: repeat(2,50%);
        grid-template-areas: "c1 c2"
                            "c3 c3";
        align-items: center;
        text-align: center;
        background-color:#212529;
        width: 100%;
        height: 300px;
        font-family: 'Poppins', sans-serif;
        color: rgb(255, 255, 255);
        
        font-size: 1rem;
       
    }
    footer h5 {
        font-size:0.6rem;
        
    }
    
    footer ul.menuFooter{
        display: flex;
        align-items: center;
        justify-content: center;
        grid-area:c2;
        color: rgb(255, 255, 255);
        text-align: center;
    }
#redes{
    width: 500px;
    padding: 15px;
    position: fixed;
    right: 20px;
    grid-area: c3;
}
.logoHover{
    height:auto;
    width: 100%;
}
.list-style{
    height:auto;
    width: 100%;
}
li.nav-item{
    height: 30px;
    width: 100%;
}
logoHover :hover{
    transition: all 0.3s;
    transform: scale(1.05,1.05);
}
}
    
